::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: beige;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-text {
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 7rem;
}

.text-front {
  position: absolute;
  z-index: 100;
}

.small-img {
  width: 100px;
  height: auto;
}

.beach-banner {
  object-position: center;
  object-fit: cover;
  width: 100vw;
  height: 60vh;
}

.body-bg {
  background-image: url(imgs/SandBG.JPG);
  background-position: center;
  background-attachment: fixed;
}

.bg-beige {
  background-color: beige;

}

.text-border {
  border: .3vw double lightblue;
}

.text {
  font-family: "portofino", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wrap {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
}

.caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  padding: 2.5vw;
  font-family: "portofino", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wrap:hover .caption {
  visibility: visible;
  opacity: 1;
}

.card {
  transition: .5s;
  transform: scale(0.95);
}

.wrap:hover .card {
  transform: scale(1);
  opacity: 0.3;
}

a:link {
  text-decoration: none;
}

footer {
  border-top: .3vw double lightblue;
}